@using ManagedDoom.App.UI.Game
@using SkiaSharp
@using SkiaSharp.Views.Blazor

@implements IAsyncDisposable

@inject UserInputInterop UserInput

<div @ref="@container" class="aspect-auto bg-zinc-950 h-full max-h-screen max-w-screen w-full" tabindex="0">
    <div class="absolute flex flex-row p-2.5 right-0">
        <button class="icon" @onclick="@(() => settings.Open())">
            <Icon Name="@IconName.Settings" Size="@TextSize.ExtraLarge2" />
        </button>
    </div>

    <SKGLView class="h-full w-full" EnableRenderLoop="@rendering" IgnorePixelScaling="true" OnPaintSurface="@OnPaintSurface" @onclick="@OnSurfaceClick" />
</div>

<SettingsDialog @ref="@settings" OnSave="@OnConfigSave" />

@code {

    private Config? config;
    private SettingsDialog settings;
    private ElementReference container;
    private DoomShim? doom;
    private UserInputReference input;
    private bool rendering = true;

    private static void DestroyDoom(ref DoomShim? doom)
    {
        if (doom is not null)
        {
            doom.Dispose();
            doom = default;
        }
    }

    public async ValueTask DisposeAsync()
    {
        DestroyDoom(ref doom);

        if (config is not null)
        {
            config.Save("doom.cfg");
            config = default;
        }

        if (input is not null)
        {
            await input.DisposeAsync();
            input = default!;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            input = await UserInput.CreateUserInput(container);
        }
    }

    private void OnConfigSave()
    {
        rendering = false;
        StateHasChanged();

        DestroyDoom(ref doom);
        config = default;

        rendering = true;
    }

    private async Task OnSurfaceClick() => await input.RequestLock();

    private void OnPaintSurface(SKPaintGLSurfaceEventArgs e)
    {
        ArgumentNullException.ThrowIfNull(e);

        doom ??= new(config ??= new("doom.cfg"));
        if (!doom.Update(e, input))
        {
            rendering = false;
            StateHasChanged();

            DestroyDoom(ref doom);
        }
    }

}